@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
  font-family: 'Lato', sans-serif;
  outline: 1px solid #f00 !important;
  opacity: 1 !important;
}

:root {
  --primary: black;
  --secondary: white;
  --bg-2: #ec4c8a;
  --bg-1: #4369b2;
}

#root {
  width: 100%;
  overflow: hidden;
}

h3 {
  font-size: 1.5rem;
  color: var(--secondary);
  font-weight: 400;
}

h4 {
  font-size: 1.2rem;
  color: var(--secondary);
  font-weight: 400;
  padding-right: 0.5rem;
}

#logo {
  content: url('../assets/mclogo.png');
  margin-right: 0.5rem;
  position: relative;
  width: 150px;
  height: auto;
  top: 1px;
  align-self: center;
}

.hide {
  opacity: 0;
  visibility: hidden;
}

#main-menu {
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: var(--primary);
  color: var(--secondary);
  height: 100%;
  width: 100%;

  /* align-items: flex-start; */
  overflow-y: hidden;
}

a {
  text-decoration: none;
  color: var(--secondary);
  font-size: 0.7rem;
  flex-basis: 5%;
}

#menu-items {
  margin-left: 5%;
  flex: 75%;
}

#menu-items ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  height: 70%;
}

.row {
  width: 50%;
}

#menu-items ul li {
  display: flex;
  align-self: center;
}

.menu-detail {
  background-color: var(--bg-2);
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
}

.show {
  opacity: 1;
  visibility: visible;
}

#detail {
  min-height: 100vh;
  margin-bottom: 0;
}

.menu-detail a {
  font-size: 2em;
  align-items: center;
  padding-left: 7%;
}

.card {
  display: flex;
  margin: 0 auto 2% 5%;
}

.card-image {
  flex: 50%;
}

.card-detail,
.card-detail ul {
  flex: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-detail > h4 > span {
  margin-left: 0.6rem;
  font-weight: 600;
}

.card-detail > ul > li > span {
  margin-left: 0.6rem;
  font-weight: 600;
}

.stat {
  list-style-type: none;
  color: var(--secondary);
  font-size: 1.15rem;
}

.search {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2rem;

  /* width: 50vw; */
}

.search form input[type="search"] {
  width: 100%;
  padding: 1rem 2rem;
  font-size: 1.15rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='%23999' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0.625rem 0.75rem;
  background-size: 1.15rem;
}

.search form input[type="search"].loading {
  background-image: none;
}

#search-spinner {
  width: 1rem;
  height: 1rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='%23000' strokeLinecap='round' strokeLinejoin='round' strokeWidth='2' d='M20 4v5h-.582m0 0a8.001 8.001 0 00-15.356 2m15.356-2H15M4 20v-5h.581m0 0a8.003 8.003 0 0015.357-2M4.581 15H9' /%3E%3C/svg%3E");
  animation: spin 1s infinite linear;
  position: relative;
  left: 0.625rem;
  top: 0.75rem;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

img {
  width: 12rem;
  height: 12rem;
  background: #c8c8c8;
  margin-right: 2rem;
  border-radius: 1.5rem;
  object-fit: cover;
}

#detail.loading {
  opacity: 0.25;
  transition: opacity 200ms;
  transition-delay: 200ms;
}

.card-container {
  padding: 5%;
}

.pagination {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-around;
}

.pagination li {
  margin: 0.5em;
  color: var(--secondary);
}

footer {
  padding: 1em 2em 2em;
  margin-bottom: 0.6em;
  width: 100%;
  border-top: 1px solid var(--secondary);
  background-color: var(--primary);
  color: var(--bg-1);
}

/*
@media (min-width: 720px) {
  #main-menu {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .hide, .show {
    opacity: 1;
    visibility: visible;
  }

} */
